In [1]:
# 국어: 80, 영어 75, 수학 55
# 평균 점수
score = {'국어':80, '영엉':75, '수학':55}
avg = sum(score.values())/len(score)
print(avg)
print(int(avg))

70.0
70

In [2]:
# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법
if(13%2==1):
    print('13은 홀수')

13은 홀수

In [3]:
# 881120-1068234 를 -기준으로 분리
# 문자열 슬라이싱 기법 사용
jumin='881120-1068234'
a=jumin[:6]
b=jumin[7:]
print(a)
print(b)

881120
1068234

In [4]:
#jumin의 뒷자리의 맨 첫번째 숫자는 성별을 나타낸다. 주민번호에서 성렬을 타나내는 숫자를 출력
#문자열 인덱싱을 이용
jumin.split('-')[1][0]

'1'

In [5]:
# a:b:c:d에서 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력
a="a:b:c:d"
a.replace(':','#')

'a#b#c#d'

In [6]:
# [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 출력
lis=[1,3,5,4,2]
lis.sort()
lis.reverse()
lis

[5, 4, 3, 2, 1]

In [7]:
# ['Life','is','too','short']리스트를 Life is too short문자열로 출력
# jon 함수를 이용
lis = ['Life','is','too','short']
' '.join(lis)

'Life is too short'

In [8]:
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
# 더하기(+)를 이용
tu1=(1,2,3)
tu2=(4,)
tu1+tu2

(1, 2, 3, 4)

In [9]:
# 오류 설명하기
a=dic()
a['name'] = 'python'
a[('a',)]='python'
a[[1]]='python'
a[250]='python'
# 두번쨰, 세번째의 키는 튜플과 리스트이다 튜플과 리스트는 가변 객체로 키가 될 수 없다.

NameError: name 'dic' is not defined

In [10]:
# 딕셔너리 a에서 pop()을 이용하여 'B'에 해당하는 값 추출
a={'A':90, 'B':80,'C':70}
a.pop('B')

80

In [11]:
# a 리스트에서 중복 숫자를 제거
a = [1,1,1,2,2,3,3,3,4,4,5]
set(a)

{1, 2, 3, 4, 5}

In [12]:
a = "Life is too short, you need python"
if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" in a:
    print("shirt")
elif "need" in a:
    print("need")
else:
    print("none")

need

In [13]:
# while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합
start=1
end=1000
num=0
while(start<=1000):
    if(start%3==0):
        num+=start
    start+=1
print(num)

166833

In [14]:
# while문을 사용하여 별(*) 작성
i=0
while True:
    i+=1
    if i>5:
        break
    print('*'*i)

*
**
***
****
*****

In [15]:
# for문 사용하여 1~100까지 숫자 출력
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [16]:
A = [70,60,55,75,95,90,80,80,85,100]
avg=0
s=0
for i in A:
    s += i
    avg = s/len(A)
print(avg)

79.0

In [17]:
# 리스트 중에서 홀수에만 2를 곱하여 저장하는 코드
numbers = [1,2,3,4,5]
result=[]
for n in numbers:
    if n%2==1:
        result.append(n*2)

In [18]:
numbers=[1,2,3,4,5]
result= [n*2 for n in numbers if n%2==1]
result

[2, 6, 10]

In [19]:
# 주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성
def is_odd():
    if(n%2==0):
        print('짝수')
    else:
        print('홀수')

In [21]:
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수 작성
def avg(*args):
    rst=0
    for i in args:
        rst += i
    return rst/len(args)
avg(1,2,3)

2.0

In [23]:
# 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램으로 3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다.
# 프로그램 수정
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

In [24]:
# 출력 중 결과가 다른 하나
print("you" "need" "python")
print("you"+"need"+"python")
print("you","need","python")
print("".join(["you","need","python"]))

youneedpython
youneedpython
you need python
youneedpython

In [25]:
all([1,2,abs(-3)-3])
chr(ord('a'))=='a'

False

In [30]:
# filter와 lambda를 사용하여 리스트[1, -2, 3, -5, 8, -3]에서 음수를 모두 제거
# filter(조건함수, 순회가능객체)
lsts = [1, -2, 3, -5, 8, -3]
for lst in filter(lambda lst: lst >0, lsts):
    print(lst)

1
3
8

In [43]:
# map 와 lambda를 사용하여 [1,2,3,4]리스트의 각 요솟값에 3이 곱해진 리스트[3,6,9,12] 만들기
lst=[1,2,3,4]
# for i in lst:
#     i *= 3
#     print(i)
    
for i in map(i * 3, lst):
    print(i)

TypeError: 'int' object is not callable