In [1]:
#while문
count=1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [2]:
while True:
    stuff = input('String to capitalize [type q to quit]: ')
    if stuff == 'q':
        break
    print(stuff.capitalize())

String to capitalize [type q to quit]: test
Test
String to capitalize [type q to quit]: hey, it works Hey, it works
Hey, it works hey, it works
String to capitalize [type q to quit]: q

In [3]:
while True:
    value = input("Integer, please [q to quit]: ")
    if value == 'q':
        break
    number = int(value)
    if number % 2 == 0:
        continue
    print(number, "squared is", number*number)

Integer, please [q to quit]: 1
1 squared is 1
Integer, please [q to quit]: 2
Integer, please [q to quit]: 3
3 squared is 9
Integer, please [q to quit]: 4
Integer, please [q to quit]: 5
5 squared is 25
Integer, please [q to quit]: q

In [4]:
numbers = [1, 3, 5]
position = 0S
while position < len(numbers):
    number = numbers[position]
    if number % 2 == 0:
        print("Found even number", number)
        break
    position +=1
else:
    print('No even number found')

No even number found

In [6]:
word = 'thud'
offset=0
while offset < len(word):
    print(word[offset])
    offset+=1

t
h
u
d

In [7]:
for letter in word:
    print(letter)

t
h
u
d

In [8]:
word='thud'
for letter in word:
    if letter == 'u':
        break
    print(letter)

t
h

In [9]:
word='thud'
for letter in word:
    if letter == 'x':
        print('Eek! An \'x\'!')
        break
    print(letter)
else:
    print('No \'x\' in there.')

t
h
u
d
No 'x' in there.

In [10]:
for x in range(0,3):
    print(x)

0
1
2

In [11]:
list(range(0,3))

[0, 1, 2]

In [12]:
for x in range(2, -1, -1):
    print(x)

2
1
0

In [13]:
list(range(2, -1, -1))

[2, 1, 0]

In [14]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [30]:
# for문으로 리스트 [3, 2, 1, 0] 만들기
list(range(3, -1, -1))
for n in [3,2,1,0]:
    print(n)

3
2
1
0

In [33]:
guess_me = 7
number = 1
while True:
    if number < guess_me:
        print('too low')
    elif number == guess_me:
        print('found it!')
        break
    elif number > guess_me:
        print('oops')
        break
    number += 1

too low
too low
too low
too low
too low
too low
found it!

In [34]:
guess_me = 5
for number in range(10):
    if number < guess_me:
        print('too low')
    elif number == guess_me:
        print('found it!!')
        break
    elif number <guess_me:
        print(oops)
        break

too low
too low
too low
too low
too low
found it!!